.title {
  font-size: 48px;
  font-weight: 700;
  color: var(--color-text);
}
.title--section {
  font-size: 36px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }
  .title--section {
    font-size: 28px;
  }
}
